<!-- <p>cart works!</p> -->

<div class="container" *ngIf="cart.length == 0">
    <h4>Your cart is empty</h4>
</div>

<div class="container" *ngIf="!sendProducts">
    <div class="row mt-4" *ngFor="let item of cart">
        <div class="col-md-2">
            <img class="card-img-top" id="cardImg" src="../../assets/{{item.img}}">
            <div>
                {{item.title}} <br>
                <h4>{{item.price | currency:'INR':'symbol'}}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Total Amount {{amt | currency:'INR':'symbol'}}</h4>
        </div>
    </div>
</div>

<div class="container" *ngIf="!sendProducts">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="shareData()" style="width: 100%;">CheckOut</button>
        </div>
    </div>
</div>

<div class="container" style="width: 50%;" *ngIf="sendProducts">
    <h4>Provide Delivery Address</h4>
    <form [formGroup]="checkOutForm" (ngSubmit)="checkOutUser()">
        <div class="form-control">
            <label for="address">Address</label>
            <input type="text" formControlName="address" id="email" class="form-control">
            <div class="emailError" *ngIf="(checkOutForm.controls.address.dirty && checkOutForm.controls.address.invalid) || checkOutForm.controls.address.touched">
                <span class="text text-danger" *ngIf="checkOutForm.controls.address.errors?.required">Field required</span>
            </div>
        </div>
        <button class="btn btn-primary" style="width: 100%;" type="submit" [disabled]="checkOutForm.invalid">Submit</button>
        <span class="text text-success" *ngIf="successMsg">{{successMsg}}</span>
    </form>
</div>

<div class="container mt-5" *ngIf="sendProducts">
    <button class="btn btn-primary" style="width: 100%;" (click)="goBack()">Go Back</button>
</div>