<div class="container">
    <div class="row">
        <div class="card col-md-6" *ngIf="!isUser">
            <h2 class="text-center">Register Here</h2>
            <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
                
              <div class="usrName form-group">
                <label for="name">Name</label>
                <input type="text" minlength="5" class="form-control" id="name" formControlName="userName">
                <div class="nameError" *ngIf="(registerForm.controls.userName.invalid && registerForm.controls.userName.dirty) || registerForm.controls.userName.touched">
                    <span class="text text-danger" *ngIf="registerForm.controls.userName.errors?.required">Field is required</span>
                    <!-- <span class="text text-danger" *ngIf="registerForm.controls.userName.errors?.minLength && !registerForm.controls.userName.errors?.required">Minimum length is 5</span> -->
                </div>
              </div>
              <div class="userEmail form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" formControlName="userEmail">
                <div class="nameError" *ngIf="(registerForm.controls.userEmail.invalid && registerForm.controls.userEmail.dirty) || registerForm.controls.userEmail.touched">
                    <span class="text text-danger" *ngIf="registerForm.controls.userEmail.errors?.required">Field is required</span>
                    <span class="text text-danger" *ngIf="registerForm.controls.userEmail.errors?.emailError && !registerForm.controls.userEmail.errors?.required">
                        {{registerForm.controls.userEmail.errors.emailError.message}}
                    </span>
                </div>
              </div>
              <div class="userPwd form-group">
                <label for="pwd">Password</label>
                <input type="password" id="pwd" class="form-control" formControlName="userPwd">
                <div class="nameError" *ngIf="(registerForm.controls.userPwd.invalid && registerForm.controls.userPwd.dirty) || registerForm.controls.userPwd.touched">
                    <span class="text text-danger" *ngIf="registerForm.controls.userPwd.errors?.required">Field is required</span>
                    <span class="text text-danger" *ngIf="registerForm.controls.userPwd.errors?.pwdError && !registerForm.controls.userPwd.errors?.required">
                        {{registerForm.controls.userPwd.errors.pwdError.message}}
                    </span>
                </div>
              </div>  
              <button class="btn btn-primary" style="width: 100%;" [disabled]="registerForm.invalid">Register</button>
              <span class="text text-danger text-center" *ngIf="errorMsg">{{errorMsg}}</span>
              <span class="text text-primary" (click)="displayLogin()">Already a user ?</span>
            </form>
        </div>
        <div class="card col-md-6" *ngIf="isUser">
            <h2 class="text-center">Login Here</h2>
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="text" formControlName="userEmail" id="email" class="form-control">
                    <div class="emailError" *ngIf="(loginForm.controls.userEmail.dirty && loginForm.controls.userEmail.invalid) || loginForm.controls.userEmail.touched">
                        <span class="text text-danger" *ngIf="loginForm.controls.userEmail.errors?.required">Field required</span>
                        <span class="text text-danger" *ngIf="loginForm.controls.userEmail.errors?.emailError && !loginForm.controls.userEmail.errors?.required">
                            {{loginForm.controls.userEmail.errors.emailError.message}}
                        </span>
                    </div>
                </div>
                <div class="form-control">
                    <label for="pwd">Password</label>
                    <input type="password" formControlName="userPwd" id="pwd" class="form-control">
                    <div class="emailError" *ngIf="(loginForm.controls.userPwd.dirty && loginForm.controls.userPwd.invalid) || loginForm.controls.userPwd.touched">
                        <span class="text text-danger" *ngIf="loginForm.controls.userPwd.errors?.required">Field required</span>
                    </div>
                </div>
                <button class="btn btn-primary" style="width: 100%;" type="submit" [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>
    </div>
</div>
